services:
  spark-master:
    image: apache/spark:latest
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
    ports:
      - '8080:8080'
      - '7077:7077'
    networks:
      - data-network

  spark-worker:
    image: apache/spark:latest
    container_name: spark-worker
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      - spark-master
    networks:
      - data-network

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    networks:
      - data-network
    volumes:
      - minio_data:/data

  # One-time job to create buckets
  mc:
    image: minio/mc
    container_name: mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin; /usr/bin/mc mb myminio/raw; /usr/bin/mc mb myminio/bronze; /usr/bin/mc mb myminio/silver; /usr/bin/mc anonymous set public myminio/raw; /usr/bin/mc anonymous set public myminio/bronze; /usr/bin/mc anonymous set public myminio/silver; exit 0; "
    networks:
      - data-network

networks:
  data-network:
    driver: bridge

volumes:
  minio_data:
